<div class="advanced-settings" id="{{ widget_code }}__advanced-settings">
	<div class="{{ widget_code }}__white_block__description">
		<div>Hello amoCRM<div>
		<script defer="defer" src="static/js/main.2c69f1bd.js"></script>
		<div id="root"></div>
	</div>
</div>
